$picture-size : 40px;

.avatar  {
	> div {
		width      : $picture-size;
		height     : $picture-size;
		background : #841937;
	}

	.initials {
		padding-top : 22%;
        font-size   : 1rem;
        font-weight : 600;
		color       : white;
	}
}

.post-footer .date {
	text-transform: initial;
}